<p>
  <%= form.text_field :suburb, hide_label: true, placeholder: "Suburb" %><br>
  <%= form.text_field :postcode, hide_label: true, placeholder: "Postcode" %><br />
  <%= form.text_field :state, hide_label: true, placeholder: "State" %><br />
  <%= form.text_field :country, hide_label: true, placeholder: "Country" %><br />
  <% hidden_field :profile_id, @profile.id %>
</p>
