<h1>Editing Profile</h1>

<%= render 'form', profile: @profile %>

<br>
<%= link_to 'Show', @profile, class: "btn btn-success" %>
<%= link_to 'Back', profile_path(@profile), class: "btn btn-secondary" %>

