<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <input type="text" name="title" placeholder="Title"  class="form-control">
      </div>
      <div class="form-group">
        <input type="text" name="content" placeholder="Content" class="form-control">
      </div>
      <div class="form-group">
        <select name="owner_role" class="form-control" >
          <option disabled selected value> choose </option>
          <option value="stylist">Stylist</option>
          <option value="scrub">Scrub</option>
        </select>
      </div>
      <input type="submit" value="Filter" class="btn btn-default">
    </form>
  </div>
</div>

