
html {
  overflow-y: scroll;
}

#main_container {
  margin: 2em;
}

footer {
  margin-left: 2em;
}

#account_select_button {
  padding: 0;
}

#comments {
  margin-left: 3em;
}

.comment_pic {
  padding: 0;
}

#post_index td {
  background-color: lightgray;
}

.login_field {
  max-width :30%;
}

#move_in {
  margin-left: 2em;  
}

.remember_me {
  display: inline-block;
  padding: 1em 0;
}

#comment_content {
  line-height: 2em;
  width: 100%;
  word-wrap: break-word;
}

.form-group {
  margin: 0 1em;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-nav:last-child {
  margin-right: auto;
}

hr {
  border-color: darkgray;
}

#deal_screen > thead > tr > th {
  text-decoration: underline;
}

#deal_screen > tbody > tr > * {
  width: 10em;
}

.checked_star {
  color: orange;
}