
html {
  overflow-y: scroll;
}

#main_container {
  margin: 2em;
}

footer {
  margin-left: 2em;
}

#account_select_button {
  padding: 0;
}

#comments {
  margin-left: 3em;
}

.comment_pic {
  padding: 0;
}

#post_index td {
  background-color: lightgray;
}

.login_field {
  max-width :30%;
}

#move_in {
  margin-left: 2em;  
}

.remember_me {
  display: inline-block;
  padding: 1em 0;
}

#comment_content {
  line-height: 2em;
  width: 100%;
  word-wrap: break-word;
}

.form-group {
  margin: 0 1em;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-nav:last-child {
  margin-right: auto;
}

hr {
  border-color: darkgray;
}

#deal_screen > thead > tr > th {
  text-decoration: underline;
}

#deal_screen > tbody > tr > * {
  width: 10em;
}

.checked_star {
  color: orange;
}

.message_container {
  border: 1px solid blue;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 1em;
}

.username_right {
  text-align: right;
  font-weight: bold;
  line-height: 2em;
}

.username_left {
  font-weight: bold;
  line-height: 2em;
  
}

.message_right {
  align-self: flex-end;
  background-color: #0f82eb;
  border-radius: 1em;
  padding: 0.4em;
  line-height: 1em;
  margin-right: 1em; 
  font-weight: bold; 
}

.message_left {
  background-color: hsl(112, 90%, 50%);
  align-self: flex-start;
  border-radius: 1em;
  padding: 0.4em;
  line-height: 1em;  
  margin-left: 1em;
  font-weight: bold;
}