// .table tbody > tr :nth-child(odd) {
//   background-color: lightgray;
// }

#main_container {
  margin: 2em;
}

footer {
  margin-left: 2em;
}

#comments {
  margin-left: 3em;
}

#post_index td {
  background-color: lightgray;
}


.login_field {
  max-width :30%;
}

#move_in {
  margin-left: 2em;  
}

.remember_me {
  display: inline-block;
  padding: 1em 0;
}

#comment_content {
  line-height: 2em;
}

